/* CSS stylesheet for my portfolio */

/* Smooth Scroll */
html {
	scroll-behaviour: smooth;
}

/* Background of website */
body {	
	background: url("images/background.jpg");
}

/* Body container */
.body_con {
	width: 95%;
	height: auto;
	margin: auto;
	
	/* border: 0; */
	/* border edges */
	/* border-radius: 15px; */
	/* if content overflows, scroll bar is added to scroll, and stop it and images go over the container border */
	/* overflow: auto; 		 */
}

/* Container for introduction banner */
#intro_banner {
  	background-image: url("images/forHome/meHD.png");
 	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
 	height: 450px; /* Set a specific height for the container */
  	width: 100%; /* Optional: set width as needed */

 	display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: center;
	color: white;
  	/* overflow: hidden; */
  	position: relative;
}

/* Gallery */
/* gallery body */
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

/* gallery individual container */
.gallery-item {
	margin: 5px;
	border: 2px solid #ccc;
	width: 200px; 
	height: 380px;
}

/* when container is hovered by mouse */
/* .gallery-item:hover {
	border: 3px solid #777;
} */

/* configuration for image area inside gallery container */
.gallery-item img {
	width: 100%;	/* fit the whole area */
	height: 50%;
}

/* configuration for image description */
.gallery-item div.desc {
	padding: 10px;
	position: relative;
	text-align: center;
}


/* Navigation bar */
nav {
	text-align: center;
	font-size: 20px;
	/* width: 99%; */
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lightgray;

	/* Nav bar follow when scrolling */
	position: sticky;
	top: 0;
	
	/* put nav to horizonal style */
	display: flex;
	justify-content: center; /* align the whole content to center */
}

/* Navigation link & visited */
nav a:link, nav a:visited {
	display: block;
	color: black;
	padding: 5px 10px; /* size of link container (height-width) */
	text-decoration: none; /* remove underscore */
	border: 1px solid black;/* Add border around each link */
}

/* When mouse cursor hovers the individual nav element */
nav a:hover {
	color: blue;
}

/* Highlight current active bar */
nav a.active {
	background-color: green;
	color: white;
}

/* for about me */
#img_about {
	height: 400px;
	width: 300px;
	/* float: left; */
}

/* Back to Top Button */		
.backtopbutton {
	display: flex;
	justify-content: right;
	align-items: center;
	position:fixed;
	top: 50%;
	right: 10px;
}

.backtopbutton button {
	font-size: 20px;
	padding: 5px 10px;
	background-color:orange;
	font-weight:bold;
}

/* Embed configuration to center of the screen */
iframe {
    display: block; /* Required for margin: auto to work */
    margin: auto;   /* Centers horizontally */
}

/* Signature */
#mysign	{
	text-align: center;
	color: ;
	background: lightgray;
	margin-bottom: 0;
	clear: right;
				
	/* create border edge */
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;			
}

































































