/* CSS stylesheet for my portfolio */


/* Smooth Scroll */
html {
	scroll-behaviour: smooth;
}

/* Background of website */
body {	
	background: url("images/background.jpg");
}

/* Define Font for content of website */
h1, h2, h3, h4, p {
	font-family: Sans Serif;
]

/* Body container */
.body_con {
	width: 80%;
	height: auto;
	margin: auto;

	/* display: flex;
	align-items: center;
	gap: 20px; */
	
	/* border: 0; */
	/* border edges */
	/* border-radius: 15px; */
	/* if content overflows, scroll bar is added to scroll, and stop it and images go over the container border */
	/* overflow: auto; 		 */
}

/* Fit content display on smaller screens */
@media only screen and (max-width: 768px) {

  div.skill-list-item, div.imgGallery-item {
    width: calc(50% - 20px);
  }
	
}

@media only screen and (max-width: 480px) {
	
  div.skill-list-item, div.imgGallery-item {
    width: calc(100% - 20px);
  }
	
}


/* Container for introduction banner */
#intro_banner {
  	background-image: url("images/forHome/meHD.png");
 	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
 	height: 450px; /* Set a specific height for the container */
  	width: 100%; /* Optional: set width as needed */

 	display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: center;
	color: white;
  	/* overflow: hidden; */
  	position: relative;
}

/* Skills List with image */
/* Skills List body */
.skill-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

/* Skills List individual container */
.skill-list-item {
	margin: 5px;
	border: 2px solid #ccc;
	width: 200px; 
	height: 400px;
}

/* when container is hovered by mouse */
/* .skill-list-item:hover {
	border: 3px solid #777;
} */

/* configuration for image area inside gallery container */
.skill-list-item img {
	width: 100%;	/* fit the whole area */
	height: 50%;
}

/* configuration for image description */
.skill-list-item div.desc {
	padding: 10px;
	position: relative;
	text-align: center;
}

/* @media only screen and (max-width: 768px) {
  div.skill-list-item {
    width: calc(50% - 20px);
  }
} */

/* @media only screen and (max-width: 480px) {
  div.skill-list-item {
    width: calc(100% - 20px);
  }
} */


/* Float left for image with long paragraph of description */	
/* .con-session {
	margin: 5px auto;
	border: 2px solid #ccc;
	width: 90%; 
	height: 400px;
} */

#imgLeft1 {
  float: left;
  width: 230px;
  height: 300px; 
  margin-right: 30px; /* distance the text away from the image by 20 pixel */
}

#imgLeft2 {
  float: left;
  width: 300px;
  height: 200px; 
  margin-right: 30px; /* distance the text away from the image by 20 pixel */
}

#p_imgLeft {
  overflow: hidden; /* text do not stick under the picture */
}

/* An empty container to make the next session paragraph does not warp around the image */
.clearWarp {
	clear: both;
	display: block;
}


/* Image Gallery with description */
/* gallery body */
.imgGallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 5px auto;
}

/* gallery individual container */
.imgGallery-item {
	margin: 5px;
	border: 2px solid #ccc;
	width: 300px; 
	/* height: 400px; */
}

/* when container is hovered by mouse */
.imgGallery-item:hover {
	border: 3px solid #777;
}

/* configuration for image area inside gallery container */
.imgGallery-item img {
	width: 100%;	/* fit the whole area */
	height: auto;
	/* height: 70%; */
}

/* configuration for image description */
.imgGallery-item div.desc {
	padding: 10px;
	position: relative;
	text-align: center;
}

/* @media only screen and (max-width: 768px) {
  div.imgGallery-item {
    width: calc(50% - 20px);
  }
} */

/* @media only screen and (max-width: 480px) {
  div.imgGallery-item {
    width: calc(100% - 20px);
  }
} */


/* Navigation bar */
nav {
	text-align: center;
	font-size: 20px;
	/* width: 99%; */
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lightgray;

	/* Nav bar follow when scrolling */
	position: sticky;
	top: 0;
	
	/* put nav to horizonal style */
	display: flex;
	justify-content: center; /* align the whole content to center */
}

/* Navigation link & visited */
nav a:link, nav a:visited {
	display: block;
	color: black;
	padding: 5px 10px; /* size of link container (height-width) */
	text-decoration: none; /* remove underscore */
	border: 1px solid black;/* Add border around each link */
}

/* When mouse cursor hovers the individual nav element */
nav a:hover {
	color: blue;
}

/* Highlight current active bar */
nav a.active {
	background-color: green;
	color: white;
}


/* Back to Top Button */		
.backtopbutton {
	display: flex;
	justify-content: right;
	align-items: center;
	position:fixed;
	top: 50%;
	right: 10px;
	text-decoration: none; /* removes underline */
}

.backtopbutton button {
	font-size: 20px;
	padding: 5px 10px;
	background-color:orange;
	font-weight:bold;
}

/* Embed configuration to center of the screen */
iframe {
    display: block; /* Required for margin: auto to work */
    margin: auto;   /* Centers horizontally */
}

/* Signature */
#mysign	{
	text-align: center;
	color: ;
	background: lightgray;
	margin-bottom: 0;
	clear: right;
				
	/* create border edge */
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;			
}



































































































































